
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>error404</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="~/icon/Logo_RMUTI.ico" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!--Spinner-Loader-->
    <style>
        body{
            background-color:#FAFAFA;
        }
    </style>
</head>

<body>
    <div class="container"> 
        <div class="error-404">
            <div class="center">
                <img src="~/icon/404.png" class="img-responsive center-block" />
            </div><br />
            <div class="error-page text-center">
                <h2>Oops! Page Not Open</h2>
                <h4>Sorry, Students do not have access to this system.</h4><br />
                <a href="@Url.Action("Logout","Login")" class="btn btn-primary btn-sm">Go Back</a>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--Spinner-Loader-->
</body>
</html>
