@model Students_Attendance_Project.Models.UserMedel
@using Students_Attendance_Project.Models;
@using Students_Attendance_Project.Common;
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ระบบเช็คชื่อการเข้าเรียนของนักศึกษาออนไลน์</title>
    @*<link rel="icon" href="~/icon/Logo_RMUTI-icon.png" />*@
    <link rel="shortcut icon" type="image/x-icon" href="~/icon/Logo_RMUTI.ico" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/login_register.css" />
    <link rel="stylesheet" href="~/Content/sweetalert.css">
    <!--Spinner-Loader-->
    <link href="~/Scripts/spinner/loading.min.css" rel="stylesheet" />
    <style type="text/css">
        input.error {
            border: 1px solid #ff5c33;
            border-left: 3px solid #ff5c33;
        }

        input.valid {
            border: 1px solid #33cc33;
            border-left: 3px solid #33cc33;
        }

        label.error {
            padding-top: 5px;
            color: #ff5c33;
            /*font-size: 12px;*/
        }

        .isRed {
            color: #ff5c33;
            font-size: 16px;
            padding-left: 5px;
        }

        body {
            padding-top: 1px;
            background-image: url('http://cpe.rmuti.ac.th/project/StudentAttendance/icon/bg.gif');
            background-attachment: fixed;
            background-repeat: repeat;
        }

        /*.navbar-inverse {
            background-color: #3c8dbc;
            border-color: #3c8dbc;
            color: white;
        }

            .navbar-inverse .navbar-brand {
                color: #e6e6e6;
            }*/
        #logo {
            width: 100%;
        }
    </style>
</head>
<body>
    <a href=""><img id="logo" src="~/icon/banner.png" /></a>
    <section><br /><br /><br /></section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 center">
                                <a href="#" class="active" id="login-form-link" style="color:#08298A">เข้าสู่ระบบ</a>
                            </div>
                            @*<div class="col-xs-6">
                                <a href="#" id="register-form-link">Register</a>
                            </div>*@
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" action="#" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                        <input type="email" name="username" id="username" tabindex="1" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required>
                                    </div>
                                    <div class="hidden isRed" id="loginFalse" style="font-size:13.5px;padding-left:0px;">
                                        <span>ไม่พบข้อมูลชื่อผู้ใช้ กรุณาป้อนชื่อผู้ใช้และรหัสผ่านให้ถูกต้อง</span><br /><br />
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button type="submit" name="login-submit" id="login-submit" tabindex="3" class="form-control btn btn-login" value="">Log In</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <a href="@Url.Action("redirectsso","Login")" class="btn btn-success btn-sso btn-block">Log In with Single Sign On</a>
                                                @*<button type="button" name="login-sso" id="login-sso" tabindex="3" class="form-control btn btn-primary btn-sso" value="">Log In with Single Sign On</button>*@
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="https://rmuti.ac.th" target="_blank" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-new-window pull-left"></span><span> เข้าสู่เว็บไซต์มหาวิทยาลัย</span></a>
                    <a href="https://ess.rmuti.ac.th/" target="_blank" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-new-window pull-left"></span><span> เข้าสู่เว็บไซต์ระบบสารสนเทศเพื่อการศึกษา (ESS)</span></a>
                    <a href="~/Usermanual/Usermanual-StudentsAttandance.pdf" download="คู่มือการใช้งานสำหรับอาจารย์ผู้สอน" target="_blank" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-download-alt pull-left"></span><span> คู่มือการใช้งานระบบ</span></a>
                    <br />
                </div>
                <div class="col-md-4"></div>
            </div>
        </section>
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.2.3 -->
    <!-- iCheck -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/sweetalert-dev.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/AdminLTE-master/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>*@

    <!--Spinner-Loader-->
    <script src="~/Scripts/spinner/jquery.loading.min.js"></script>
    <script>
        // Spinner-Loading
        // show
        function loadSpin() {
            $.showLoading({ name: 'circle-fade', allowHide: true });
        }
        //hide
        function unLoadSpin() {
            $.hideLoading();
        }
        // Spinner-Loading
        $(function () {
            $('#login-form-link').click(function (e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                $("#register-form").find('.form-group').find('label.error').remove();
                $("#login-form").find('input').val("");
                e.preventDefault();
            });
        });

        $('#login-form').validate({
            rules: {
                username: { required: true },
                password: { required: true },
            },
            messages: {
                username: "กรุณาป้อน Email ให้ถูกต้อง",
                password: "กรุณาป้อน password"
            }
        });
       
        var isUsername = true;
        $(document).ready(function () {
            $('#login-submit').click(function () {
                if ($('#login-form').valid()) {
                    $.ajax({
                        type: "POST",
                        cache: false,
                        url: '@Url.Action("LoginLoad", "Login")',
                        dataType: "json",
                        data: { username: $('input[name="username"]').val(), password: $('input[name="password"]').val() },
                        traditional: true,
                        beforeSend: function () {
                            loadSpin();
                        },
                        success: function (res) {

                            var status = false;
                            var message = 'ดำเนินการไม่สำเร็จ';
                            if (res != null && res != undefined) {
                                status = res.status;
                                message = res.Message != '' ? res.Message : message;
                            }
                            if (status == false) {
                                $('#loginFalse').removeClass('hidden');
                            } else {

                                $('#loginFalse').addClass('hidden');
                                swal({
                                    title: "เข้าสู่ระบบเรียบร้อยเเล้ว",
                                    type: "success",
                                    showConfirmButton: false,
                                    timer: 1000,
                                    closeOnConfirm: false
                                },
                                function () {
                                    $(location).attr("href", "@Url.Action("RedirectIndex", "Login")");
                                    $("#login-form").find('input').val("");
                                });
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            unLoadSpin();
                        },
                        complete: function () {
                            unLoadSpin();
                        },
                        async: true
                    });

                }
                return false;
            });
        });
    </script>
</body>
</html>
