@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<h3>ดาวน์โหลด <a href="~/Usermanual/Usermanual-StudentsAttandance.pdf" download="คู่มือการใช้งานสำหรับอาจารย์ผู้สอน">คู่มือการใช้งานสำหรับอาจารย์ผู้สอน</a></h3>


<address>
    <br />
    <b>ระบบเช็คชื่อการเข้าเรียนของนักศึกษาออนไลน์</b><br />
    <a href="http://www.cpe.rmuti.ac.th/2016/" target="_blank">สาขาวิชาวิศวกรรมคอมพิวเตอร์</a><br />
    <a href="http://www.ea.rmuti.ac.th" target="_blank">คณะวิศวกรรมศาสตร์และสถาปัตยกรรมศาสตร์</a><br />
    <a href="http://www.rmuti.ac.th/" target="_blank">มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน ศูนย์กลางนครราชสีมา</a> 
</address>

<address>
    <strong>Contact Admin :</strong>   <span>A. Supattra Kerdmec by CPE RMUTI</span><br />
    <strong>Developed by :</strong> <a href="https://www.cpe.rmuti.ac.th" target="_blank">CPE.</a>
</address>